/* Estilizando o quadrado */
.quadrado {
    width: 100%;
    height: 150px;
    background-color: #5e5c6a;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 20px;
    z-index: 9999;
    margin-bottom: 100px; /* Adiciona um espaço entre o navbar e o conteúdo principal */
    font-family: 'Open Sans', sans-serif;
}


.perfil-wrapper {
    display: flex;
    align-items: center;
}

.perfil {
    width: 18%;
    height: auto;
    border-radius: 50%;
    overflow: hidden;
    cursor: pointer;
    margin-right: 10px;
}

.p-nome {
    margin: 0;
    font-size: 18px;
    color: white;
    font-family: 'Open Sans', sans-serif;	
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-right: 40px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
}

/* Ajuste o posicionamento do conteúdo abaixo do cabeçalho */
main {
    margin-top: 150px; /* A mesma altura do cabeçalho */
}


body {
    background-color: #1f2235;
    color: white;
    font-family: 'Open Sans', sans-serif;
}
/* Estilos para o botão */
.botao-projetos, .botao-contatos, .botao-inicio {
    display: inline-block;
    background-color: #5e5c6a;
    color: white;
    padding: 15px 30px;
    border-radius: 30px;
    text-decoration: none;
    font-size: 24px; /* Aumenta o tamanho do botão */
    transition: background-color 0.3s;
}


.botao-projetos:hover, .botao-contatos:hover, .botao-inicio:hover {
    background-color: #4a4855;
}

/* Estilos para a caixa do botão */
.caixa-botao {
    display: inline-block;
    border: 2px solid #5e5c6a;
    border-radius: 40px;
    padding: 10px;
}

.container{
    width: 50%; /* Largura do quadrado */
    border: 0px solid rgb(214, 36, 214); /* Borda sólida preta */
    padding: 0px; /* Espaçamento interno para afastar o texto da borda */
    border-radius: 10px; /* Cantos arredondados com raio de 10 pixels */
    text-align: left;
    display: flex;
    justify-content: center; /* Centraliza horizontalmente */
    align-items: center; /* Centraliza verticalmente */
    margin: 0 auto; /* Centraliza na tela horizontalmente */
    flex-wrap: wrap;
}
.container p{
    font-size: 20px;
}
.proj{
    float: left;
    width: 160px;
    margin-right: 10px;
    height: auto;
    border-radius: 50%;
}

@media screen and (max-width: 768px) {
    .container {
        width: 90%; /* Reduz a largura do container para telas menores */
    }
    .proj {
        width: 100px; /* Reduz o tamanho das imagens para telas menores */
    }
    .quadrado {
        height: 100px; /* Reduz a altura do quadrado do cabeçalho para telas menores */
        padding: 8px;
    }
    .navbar ul li {
        margin-right: 8px; /* Reduz o espaço entre os itens do navbar para telas menores */
        margin-right: 12px;
        font-size: 12px;

    }
    .p-nome{
        display: none;
    }
    .perfil{
        width: 80px;
        height: 80px;
    }
}

/* Estilizando a imagem do WhatsApp, Gmail, Github */
.whats img, .gmail img, .github img, .linkedin img, .discord img {
    width: 100%; /* Ajustando o tamanho da imagem para preencher o círculo */
    height: 100%;
    object-fit: cover; /* Centralizando a imagem e cortando o excesso */
    border-radius: 50%;
}

.quad-contatos{
    display: flex;
    flex-direction: column; /* Organiza os elementos em coluna */
    justify-content: center; /* Centraliza horizontalmente os elementos */
    align-items: center; /* Centraliza verticalmente os elementos */

}
.circle {
    position: relative;
    width: 140px; /* Define o tamanho dos círculos */
    height: 140px;
    border-radius: 50%; /* Tornando o elemento circular */
    overflow: hidden;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    margin: 10px;
}

