/* Estilizando o quadrado */
.quadrado {
    width: 100%; /* Largura do quadrado */
    height: 150px; /* Altura do quadrado */
    background-color: #5e5c6a; /* Cor de fundo do quadrado (vermelho) */
    display: flex; /* Exibindo os círculos em linha */
    justify-content: center; /* Centralizando os círculos horizontalmente */
    align-items: center; /* Centralizando os círculos verticalmente */
}

body{
    background-color: #1f2235;
    color: white;
}

/* Estilos para o círculo e a imagem */
.circle {
    position: relative;
    width: 100px;
    height: 100px;
    border-radius: 50%; /* Tornando o elemento circular */
    overflow: hidden;
    cursor: pointer;
    margin: 10px;
}

/* Estilizando a imagem do WhatsApp */
.whats img {
    width: 100%; /* Ajustando o tamanho da imagem */
    height: 100%;
    object-fit: contain; /* Centralizando a imagem dentro do círculo */
    left: 50%;
}

/* Estilizando a imagem do Gmail */
.gmail img {
    width: 100%; /* Ajustando o tamanho da imagem */
    height: 100%;
    object-fit: contain; /* Centralizando a imagem dentro do círculo */
    left: 10%;
}

/* Estilizando a imagem do Github */
.github img {
    width: 100%; /* Ajustando o tamanho da imagem */
    height: 100%;
    object-fit: contain; /* Centralizando a imagem dentro do círculo */
    left: 10%;
}

.container{
    width: 60%; /* Largura do quadrado */
    height: 200px; /* Altura do quadrado */
    border: 0px solid rgb(214, 36, 214); /* Borda sólida preta */
    padding: 10px; /* Espaçamento interno para afastar o texto da borda */
    border-radius: 10px; /* Cantos arredondados com raio de 10 pixels */
    text-align: left;
}

.perfil, .proj{
    float: left;
    margin-right: 10px;
    width: 18%;
    height: auto;
}

@media screen and (max-width: 768px) {
    .quadrado{
        height: 100px;
    }
    .container{
        width: 100%;
    }
    .container p{
        text-align: center;
    }
}

img{
    border-radius: 50%;
}
